
.formStyle{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.form-group{
  width: 100%;
  margin-bottom: 1rem;
}

label{
  width: 100%;
  margin-bottom: 1rem;
}

input,textarea{
  width: 100%;
  font-size: 2rem;
  padding: 1.2rem;
  color: #BCB4B4;
  background-color: #1E1E1E;
  outline: none;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  height: 50px;
}

textarea {
  min-height: 200px;
  resize: vertical;
  background-color: #1E1E1E;
}
button[type='submit'] {
  background-color: #BCB4B4;
  color: black;
  font-size: 2rem;
  outline: none;
  border: none;
  padding: 1rem 4rem;
  border-radius: 8px;
  cursor: pointer;
}

/* FormSection*/

.ContactSectionStyle{
  padding: 0.2rem 0;
  
}

.contactSection__wrapper {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .contactSection__wrapper {
    flex-direction: column;
  }
  .contactSection__wrapper::after {
    display: none;
  }
}

.h2{
  font-family: Roboto;
  
}

.title{
  font-family: "Montserrat Bold" , Bold;
  font-size: 3rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}