/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #080613;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #593f63;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #904aa5;
  }
  